################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/GameServer/Debug
/.vs
/Debug
/*.pdb
/x64/debug/*.pdd
*.obj
*.tlog
